<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama Pemilik Bangunan</th>
      <th>Jenis Bangunan</th>
      <th>Tahun Bangunan</th>
      <th>Jumlah Lantai</th>
      <th>Luas Bangunan(m2)</th>
      <th>Jenis Jalan(m2)</th>
      <th>Sertifikat Tanah</th>
      <th>IMB</th>
      <th>KET</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
    </tr>
  </tbody>
</table>
